<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.bms.flearndata.dao.FLearndataMapper">

<resultMap id="BaseResultMap" type="com.bms.flearndata.dao.holder.FLearndata">
	<result column="id" property="id" />
	<result column="title" property="title" />
	<result column="summary" property="summary" />
	<result column="filepath" property="filepath" />
	<result column="createtime" property="createtime" />
</resultMap>

<sql id="Base_Colnum_List">
	id,title,summary,filepath,createtime
</sql>

<sql id="Where_Clause">
	where 1=1
	<trim suffixOverrides=",">
		<if test="keyName != null and keyName != ''">
			<![CDATA[ and NAME like '%${keyName}%' ]]>
		</if>
		<if test="id != null and id != ''">
			and id = #{id}
		</if>
		<if test="title != null and title != ''">
			and title = #{title}
		</if>
		<if test="summary != null and summary != ''">
			and summary = #{summary}
		</if>
		<if test="filepath != null and filepath != ''">
			and filepath = #{filepath}
		</if>
		<if test="startCreatetimeStr != null and startCreatetimeStr != '' and endCreatetimeStr != null and endCreatetimeStr != '' ">
			<![CDATA[ AND  createtime >= #{startCreatetimeStr} and  createtime <= #{endCreatetimeStr}]]>
		</if>
	</trim>
</sql>

<insert id="insert" parameterType="com.bms.flearndata.dao.holder.FLearndata">
	insert into f_learndata( <include refid="Base_Colnum_List" /> ) values( 
		#{id},#{title},#{summary},#{filepath},#{createtime}
	)
</insert>

<update id="update" parameterType="com.bms.flearndata.dao.holder.FLearndata">
	update f_learndata set
	<trim suffixOverrides=",">
		<if test="title != null and title != ''">
			title=#{title},
		</if>
		<if test="summary != null and summary != ''">
			summary=#{summary},
		</if>
		<if test="filepath != null and filepath != ''">
			filepath=#{filepath},
		</if>
		<if test="createtime != null ">
			createtime=#{createtime}
		</if>
	</trim>
	where ID=#{id}
</update>

<delete id="delete" parameterType="com.bms.flearndata.dao.holder.FLearndata">
	delete from f_learndata <include refid="Where_Clause" />
</delete>

<select id="getList"  resultMap="BaseResultMap" parameterType="com.bms.flearndata.dao.holder.FLearndata">
	select <include refid="Base_Colnum_List" /> from f_learndata
	<include refid="Where_Clause" />
</select> 

<select id="getCountOfSummary" resultType="int" parameterType="com.bms.flearndata.dao.holder.FLearndata">
	select count(1) from f_learndata <include refid="Where_Clause" />
</select> 

<select id="getListOfSummary" resultMap="BaseResultMap" parameterType="com.bms.flearndata.dao.holder.FLearndata">
	select <include refid="Base_Colnum_List" /> from f_learndata <include refid="Where_Clause" />
	<if test="sortField != null and sortField != ''"> 
		order by ${sortField} ${sortOrder} 
	</if> 
	limit ${startRecordNum},${perNumber} 
</select> 

</mapper>  