<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.bms.fuser.dao.FUserMapper">

<resultMap id="BaseResultMap" type="com.bms.fuser.dao.holder.FUser">
	<result column="id" property="id" />
	<result column="usercode" property="usercode" />
	<result column="nickname" property="nickname" />
	<result column="pwd" property="pwd" />
	<result column="realname" property="realname" />
	<result column="cardcode" property="cardcode" />
	<result column="shcool" property="shcool" />
	<result column="age" property="age" />
	<result column="workage" property="workage" />
	<result column="createtime" property="createtime" />
	<result column="phone" property="phone" />
	<result column="email" property="email" />
	<result column="qualification" property="qualification" />
	<result column="sex" property="sex" />
</resultMap>

<sql id="Base_Colnum_List">
	id,usercode,nickname,pwd,realname,cardcode,shcool,age,workage,createtime,phone,email,qualification,sex
</sql>

<sql id="Where_Clause">
	where 1=1
	<trim suffixOverrides=",">
		<if test="keyName != null and keyName != ''">
			<![CDATA[ and NAME like '%${keyName}%' ]]>
		</if>
		<if test="id != null and id != ''">
			and id = #{id}
		</if>
		<if test="usercode != null and usercode != ''">
			and usercode = #{usercode}
		</if>
		<if test="nickname != null and nickname != ''">
			and nickname = #{nickname}
		</if>
		<if test="pwd != null and pwd != ''">
			and pwd = #{pwd}
		</if>
		<if test="realname != null and realname != ''">
			and realname = #{realname}
		</if>
		<if test="cardcode != null and cardcode != ''">
			and cardcode = #{cardcode}
		</if>
		<if test="shcool != null and shcool != ''">
			and shcool = #{shcool}
		</if>
		<if test="age != null and age != ''">
			and age = #{age}
		</if>
		<if test="workage != null and workage != ''">
			and workage = #{workage}
		</if>
		<if test="startCreatetimeStr != null and startCreatetimeStr != '' and endCreatetimeStr != null and endCreatetimeStr != '' ">
			<![CDATA[ AND  createtime >= #{startCreatetimeStr} and  createtime <= #{endCreatetimeStr}]]>
		</if>
		<if test="phone != null and phone != ''">
			and phone = #{phone}
		</if>
		<if test="email != null and email != ''">
			and email = #{email}
		</if>
		<if test="qualification != null and qualification != ''">
			and qualification = #{qualification}
		</if>
		<if test="sex != null and sex != ''">
			and sex = #{sex}
		</if>
	</trim>
</sql>

<insert id="insert" parameterType="com.bms.fuser.dao.holder.FUser">
	insert into f_user( <include refid="Base_Colnum_List" /> ) values( 
		#{id},#{usercode},#{nickname},#{pwd},#{realname},#{cardcode},#{shcool},#{age},#{workage},#{createtime},#{phone},#{email},#{qualification},#{sex}
	)
</insert>

<update id="update" parameterType="com.bms.fuser.dao.holder.FUser">
	update f_user set
	<trim suffixOverrides=",">
		<if test="usercode != null and usercode != ''">
			usercode=#{usercode},
		</if>
		<if test="nickname != null and nickname != ''">
			nickname=#{nickname},
		</if>
		<if test="pwd != null and pwd != ''">
			pwd=#{pwd},
		</if>
		<if test="realname != null and realname != ''">
			realname=#{realname},
		</if>
		<if test="cardcode != null and cardcode != ''">
			cardcode=#{cardcode},
		</if>
		<if test="shcool != null and shcool != ''">
			shcool=#{shcool},
		</if>
		<if test="age != null and age != ''">
			age=#{age},
		</if>
		<if test="workage != null and workage != ''">
			workage=#{workage},
		</if>
		<if test="createtime != null ">
			createtime=#{createtime},
		</if>
		<if test="phone != null and phone != ''">
			phone=#{phone},
		</if>
		<if test="email != null and email != ''">
			email=#{email},
		</if>
		<if test="qualification != null and qualification != ''">
			qualification=#{qualification},
		</if>
		<if test="sex != null and sex != ''">
			sex=#{sex}
		</if>
	</trim>
	where ID=#{id}
</update>

<delete id="delete" parameterType="com.bms.fuser.dao.holder.FUser">
	delete from f_user <include refid="Where_Clause" />
</delete>

<select id="getList"  resultMap="BaseResultMap" parameterType="com.bms.fuser.dao.holder.FUser">
	select <include refid="Base_Colnum_List" /> from f_user
	<include refid="Where_Clause" />
</select> 

<select id="getCountOfSummary" resultType="int" parameterType="com.bms.fuser.dao.holder.FUser">
	select count(1) from f_user <include refid="Where_Clause" />
</select> 

<select id="getListOfSummary" resultMap="BaseResultMap" parameterType="com.bms.fuser.dao.holder.FUser">
	select <include refid="Base_Colnum_List" /> from f_user <include refid="Where_Clause" />
	<if test="sortField != null and sortField != ''"> 
		order by ${sortField} ${sortOrder} 
	</if> 
	limit ${startRecordNum},${perNumber} 
</select> 

</mapper>  